In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
!pip install pyarrow

In [ ]:
import pyarrow.parquet as pq

parquet_file = pd.read_parquet('yellow_tripdata_2024-01.parquet')
parquet_file.to_csv('yellow_trip_data.csv')

In [ ]:
!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

In [ ]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

In [ ]:
df_iter = pd.read_csv('yellow_trip_data.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

In [ ]:
from time import time

while True:
    t_start = time()
    df = next(df_iter)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    t_end = time()
    print("inserted another chunk..., took %.3f second" % (t_end-t_start))